<div class="row breather">
  <div class="col-md-6">
    <h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>
    <div class="col-md-4 col-md-offset-1 breather">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      
        <%= devise_error_messages! %>
          
        <div class="form-group"> 
          <%= f.label :name %>
          <div class="controls">
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group"> 
          <%= f.label :email %>
          <div class="controls">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> 
          <div class="controls">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>
          <i>(we need your current password to confirm your changes)</i>
        </div>

        <%= link_to "Change your password", edit_user_password_path(current_user[:id]), class: 'btn btn-warning btn-sm' %>

        <div><%= f.submit "Update", class: 'btn btn-info breather' %></div>
      <% end %>

      <%= link_to "<< Back", :back, class: 'btn btn-default btn-xs breather' %>

      <div class="breather">
        <h4>Unhappy?</h4>

        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm' %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Want to Create Private Wikis?</h2>
    <div class="col-md-8 col-md-offset-1 breather">
      <p>Sign up for the Premium Member plan and you will be able to create as many private wikis as you want, as well as specify the poeple you would like to view and collaborate on your wiki with you.  The premium member plan is a simple and easy resource for sharing and collaborating on projects with a team, or to share with friends and family.</p>
      <h4 class="text-center">For only $10<br/>start your premium membership today!</h4>
      <div class="breather">
        <%= link_to "Premium Membership", new_charge_path, class: 'btn btn-info btn-block' %>
      </div>
    </div>
  </div>
</div>