<%= form_for [wiki] do |f| %>
  
  <% if show_private_checkbox(wiki) %>
    <div class="checkbox">
      <%= f.check_box :private %> <%= f.label :private %>
    </div>
  <% end %>

  <% if choose_collaborators(wiki) %>
    <div class="form-group">
      <%= f.label :users, "Select Collaborators" %><br/>
      <%= f.collection_select :user_ids, User.all, :id, :name, {}, { multiple: true, class: 'chosen-select' } %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <div class="controls">
      <%= f.text_field :title, autofocus: :true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description, rows: '2', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <div class="controls">
      <%= f.text_area :body, rows: '15', class: 'form-control' %>
    </div>
  </div>

  <div><%= f.submit "Save", class: 'btn btn-primary' %></div>
  
<% end %>